/* CSS declarations go here */
.hidden_div{
    display:none;
}

body {
    padding-top: 70px;
}

.navbar{
    background-color: gainsboro;
}

#login-buttons{
    padding-top: 10px;

}

a[disabled],
a.disabled{
    cursor: default !important;

}

/*
#btnVoteUp{
    cursor: default !important;
    border: 3px solid blue;
}
*/
