/*body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
*/

.navbar{
    min-height: 30px;
    height: 50px;
    background-color: #e6eef5;
}

.navbar-brand{
    padding: 7px 15px;
}

.navbar-brand > img {
    display: inline;
}

.navbar-right {
    padding-top: 10px
}

#footer {
    padding: 5px;
    height: 25px;
    background-color: gainsboro;
}

.footerSignature{
    font-family: "Monotype Corsiva", "Apple Chancery", cursive;
    font-size: 16px;
}

#login-buttons{
    padding-top: 5px;
    padding-left: 10px;
}

#searchInput{
    border-radius: 4px;
    width: 200px;
}

.search-list-item{
    white-space: nowrap;
    padding: 0;
}

#searchDropDown{
    min-width: 200px;
    padding: 1px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.loading-message {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
    background-color: #fff;
}

.c3-grid line {
    stroke: none;
}

.c3-axis-x > path.domain, .tick > line[x2="-6"] {
    visibility: hidden;
}

.c3 svg{
    font-size: 12px;
}

.c3-text{
    fill: #000000 !important;
    font-size: 15px;
    font-weight: bold;
}

.comment-form .btn{
    font-size: 12px !important;
    padding: 1px 8px !important;
}

.small-text{
    font-size: 11px;
}

.text-float-right{
    float: right;
    padding-right: 30px;
}


.comment-section{
    background-color: aliceblue;
    border: 1px dotted;
    border-radius: 3px;
}

.section-padded{
    background-color: aliceblue;
    border: 1px dotted;
    padding: 15px;
    border-radius: 3px;
}


.item-details-div{
    height: 18px;
}

.all-sites-title-list{
    margin-left: 30px;
}
li #item-content{
    background: aliceblue;
    border-bottom: 1px dotted lightsteelblue;
    padding-bottom: 8px;
    padding-top: 8px;
}
li:nth-child(odd) #item-content {
    background: white;
}

/* Websites table in the details view*/

.allWebsitesPanel{
    border: 1px dotted black;

}
.websites-panel-heading{
    background-color: aliceblue !important;
    padding: 8px 5px;
    font-size: 13px;
    font-weight: bold;
}

.websites-table{
    font-size: 12px;
    padding: 4px;
}


.websites-table-row{
    cursor: default;
}

.websites-table-row:nth-of-type(odd){
    background-color: aliceblue !important;
}

/* user preferences */
.websites-simple-table-row {
    cursor: default;
}

/*.websites-simple-table-row:hover .fa-circle-thin,
.websites-simple-table-row .fa-spinner{
    display: none;
}

.websites-simple-table-row:hover .fa-spinner{
    display: inline;
}*/


.websites-simple-table-row:nth-of-type(even){
    background-color: aliceblue !important;
}

/*
.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
fa-circle-thin
fa-spinner

.lock:hover .icon-lock {
    display: inline;
}*/
