<template name="userPreferences">
    <div  class="panel panel-default">
        <div class="panel-heading websites-panel-heading">You added</div>
        <ul>
            {{#each addedSites}}
                <li>{{title}}</li>
             {{/each}}
        </ul>
    </div>
    <div  class="panel panel-default">
        <div class="panel-heading websites-panel-heading">You like</div>
        <ul>
            {{#each upVotedSites}}
                <li>{{title}}</li>
            {{/each}}
        </ul>
    </div>
    <div  class="panel panel-default">
        <div class="panel-heading websites-panel-heading">You don't like</div>
        {{#each downVotedSites}}
            <li>{{title}}</li>
        {{/each}}
    </div>
</template>