<template name="websiteDetailsFull">
    <div class="container">
        <div class="row js-item-details">
            <div class="col-xs-12 col-sm-8">
                <div class="section-padded">
                <a href="/"><i class="fa fa-chevron-circle-left"></i> Back to the main page</a>
                <h3> {{title}}</h3>

                <blockquote>
                    <p class="well">{{description}}</p>
                </blockquote>
                <p class="small-text">
                    Added on {{addedOn}}
                </p>

                    {{> chart id=_id }}
                </div>
                <br/>
                <div class="comment-section">
                    {{> commentsBox id=_id }}
                </div>

            </div>
            <div class="col-sm-4 hidden-sm">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Panel heading</div>
                    <!--<div class="panel-body">
                        <p>...</p>
                    </div>-->

                    <!-- Table -->
                   <!-- <table class="table">
                        ...
                    </table>-->
                    <ul id="all-sites-title-list" class="list-unstyled">
                        {{#each allSites}}
                            <li>{{title}}</li>
                        {{/each}}
                    </ul>
                </div>


            </div>


        </div>
    </div>
</template>
<template name="chart">
    <div id="chart" class='chart'></div>
</template>