<!-- template that displays individual website entries -->
<template name="website_item">
    <div class="row js-item">
        <div id="item-content" class="js-item-link">
                <p class="ws-item-title">
                    {{title}}
                    <a href="{{url}}"> <i class="fa fa-external-link" title={{titleBtnTooltip}}></i></a>
                </p>
                <p class="item-description-text">
                    {{getFormattedDescription}}
                </p>

            <div id="votingButtons">
                <span class="badge">{{upVotes}}</span>
                <a disabled={{buttonsDisabled}}
                   id="btnVoteUp" href="#"
                   class="btn {{#if hasUserUpvoted }}btn-primary{{else}}btn-default{{/if}} btn-xs js-upvote"
                   title={{btnTooltip}}
                   >
                    <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                </a>
                <a disabled={{buttonsDisabled}}
                   id="btnVoteDown"  href="#"
                   class="btn  {{#if hasUserDownvoted }}btn-primary{{else}}btn-default{{/if}} btn-xs js-downvote"
                   title={{btnTooltip}}
                   >
                    <span class="fa fa-thumbs-o-down" aria-hidden="true"></span>
                </a>
                <span class="badge">{{downVotes}}</span>
            </div>
            <div class="item-details-div">
                <p>
                <span class="small-text">Added by {{getUser createdBy}} on {{addedOn}} </span>
                <span class="text-float-right"> <a href="/website/{{_id}}">More <i class="fa fa-chevron-circle-right"></i> </a></span>
                </p>
            </div>
        </div>
    </div>
</template>